<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 in">
                <p class="copyright">Sergio De Bei 2018</p>
                <p>Development: <a href="https://nl.linkedin.com/in/sergiodebei" target="_blank">Sergio De Bei</a><!-- <span id="kvk">kvk: 66043204</span> --></p>
            </div>
        </div>
    </div>
</footer>
