.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: $mint;
    // display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        animation: spinner .6s linear infinite;
        height: 50px;
        width: 50px;
    }
    // &.visible{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
}