progress {
    position: fixed;
    opacity: 0; 
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: $background_grey;
    color: $background_grey;
    &::-webkit-progress-bar {
        background-color: $background_grey;
    }
    &::-webkit-progress-value {
        background-color: $mint;
    }
    &::-moz-progress-bar {
        background-color: $mint;
    }
}