.single_article{
    margin-top: 20px;
    line-height: 1.6em;
    position: relative;
    .article_details{
        font-size: 12px;
        span{
            &:first-child:after{
            // &:not(:last-child):after{
                content: " ·";
                margin: 0 4px;
            }
            &.article_details_link{
                // colour: $grey;
                // opacity: 0.4; 
                // @include transition (.3s);
                // &:hover, &:focus{
                //     opacity: 1; 
                // }
                text-transform: capitalize;
            }
            &.article_details_date{
                position: absolute;
                left: calc(100% - 5px);
                -webkit-transform-origin: center left;
                transform-origin: center left;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                white-space: nowrap;
                top: -5px;
            }
        }
    }
    .article_title{
        
    }
    .article_main_visual{
        margin: 0px 0px 30px;
    }
    // .gallery, .cb--imageslider{
    //     // margin: 20px 0; 
    //     position: relative;
    //     .control{
    //         position: absolute;
    //         outline: none;
    //         color: $white;
    //         z-index: 2;
    //         font-size: 30px; 
    //         line-height: 30px;
    //         background-color: rgba(0, 0, 0, 0.12);
    //         padding: 10px;
    //         top: 50%;
    //         -webkit-transform: translateY(-50%);
    //         transform: translateY(-50%);
    //         @include transition (.3s);
    //         &.prev{
    //             left: 0; 
    //         }
    //         &.next{
    //             right: 0;
    //         }
    //         &:hover,&:focus{
    //             background-color: rgba(0,0,0,.2);
    //         }
    //     }
    //     img{
    //         width: 100%; 
    //     }
    // }

    // iframe, img{
    //     margin: 20px auto;
    //     display: block;
    // }

    #popups{
        justify-content: space-between;
        img, .vid{
            cursor: pointer;
            @include transition (.3s);
            &:hover, &:focus{
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
            }
        }
        .vid{
            height: 100%;
            background-size: cover;
        }
    }

    #instagram{
        justify-content: space-between;
        .likes_holder{
            // display: inline-block;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .likes_overlay{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(175, 244, 213, 0.0);
                @include transition (.3s);
            }
            .likes_image{
                display: block;
            }
            .likes_number{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translate(0, -50%);
                text-align: center;
                display: none; 
                @include transition (.3s);
            }
            &:hover, &:focus{
                box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
                .likes_overlay{
                    background: rgba(240, 240, 240, 0.8);
                    // background: $mint_opacity;
                }
                .likes_number{
                    display: block; 
                }
            }
        }
    }

    ul{
        list-style: none;
        border-spacing: 0 4px;
        padding: 10px 0;
        li{
            display: table-row;
            line-height: 18px;
            &:before{
                content: "■ ";
                color: $mint;
                display: table-cell;
                padding-right: 6px;
            }
        }
    }

}

@media only screen and (max-width: 515px) {
   
    .single_article{
        h1{
            padding: 5px 0 10px;
        }
        .article_details{
            span{
                &:not(:last-child):after{
                    content: " ·";
                    margin: 0 4px;
                }
                &.article_details_date{
                    position: relative;
                    left: initial;
                    top: initial;
                    @include transition(.3s);
                }
            }
        }
        #popups{
            .col-m-3{
                height: 140px; 
                img{
                    height: 100%;
                }
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }


}
